body {
    display: flex;
    justify-content: center;
    align-items: center;
}
#calculator {
    font-family: Arial, Helvetica, sans-serif;
    width: 400px;
    margin: 50px auto;
    border: 2px solid #333;
    border-radius: 10px;
    padding: 60px 5px 0px 5px;
    background-color: #1C1C1C;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#display{
    background-color: #1C1C1C;
    color: white;
    text-align: right;
    border: none;
    outline: none;
    text-align: right;
    font-size: 90px;
    width: 100%;
    box-sizing: border-box;
}
#buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
    padding: 8px;
}
#buttons button{
    background-color: #505050;
    color: white;
    text-align: center;
    font-size: 36px;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    border: none;
}

#buttons button:hover{
    opacity: 0.7;
}
#buttons button:active{
    opacity: 0.9;
}
