.container {
  text-align: center;
  width: 200px;
  height: 200px;
  display: block;
  border: 3px black;
  background-color: red;
  border-radius: 5px;
  cursor: pointer;
}
.Acontainer {
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  margin-top: 30px;
  width: 200px;
  height: 200px;
  display: block;
  border: 3px black;
  background-color: green;
}
