.box {
    width: 200px;
    height: 200px;
    border: 2px solid black;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    font-weight: bold;
    color: rgb(180, 13, 13);
}

button {
    margin: auto;
    width: 90px;
    text-align: center;
    padding: 10px;
    color: white;
    border: none;
    font-size: 16px;
    margin: 5px;
}

button:hover {
    cursor: pointer;
    opacity: 0.8;
}

.button {
    background-color: red;
}

.reset {
    background-color: green;
}

.afficher {
    background-color: green;
}

.supp {
    background-color: red;
}
